<!--<main>
<h1> My App</h1>-->

<!--<hero-form></hero-form>-->
<!--<dynamic-form [questions]="questions"></dynamic-form>-->

<!--<user-app></user-app>-->
<!--<my-guide></my-guide>-->
<!--<login-registration></login-registration>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/customer">Customer</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a routerLink="/dynamicForm">DynamicForm</a></li>
        <li><a routerLink="/todo">Todo Manager</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
</div>

<router-outlet></router-outlet>

<!--<main>
   <h2> Hero 2 Tutorial</h2>

<nav> 
    <a routerLink="/heroes" routerLinkActive="active"> Heroes List </a>
    <a routerLink="/dashboard" routerLinkActive="active"> Dashboard</a>
</nav>
<router-outlet></router-outlet>-->
   <!--<nav>
      <a routerLink="/heroes">Heroes list  </a>|
      <a routerLink="/dashboard">Dashboard  </a>
   </nav>
   <router-outlet></router-outlet>-->
  
  
    <!--<h1>Hello from Angular App with Webpack</h1>
  
  <h2>Todo</h2>
  <todo> loading todo</todo>
  <h2>Angular Image:</h2>
  <img src="../../public/images/angular.png">-->
  
<!--</main>-->
