    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <!-- we place our fields here -->

        <!-- name -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name">
            <!-- display error message if name is not valid -->
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Name is required (minimum 5 characters).
            </small>
        </div>

        <!-- list of addresses -->
        <div formArrayName="addresses">
            <div *ngFor="let address of myForm.controls.addresses.controls; let i=index">
                <div>
                    <span>Address {{i+1}}</span>
                    <span *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)">Delete</span>
                </div>
                <!-- Angular assigns array index as group name by default 0,1,2,3 -->
                <div [formGroupName]="i">
                    <!-- street-->
                    <div>
                        <label>street</label>
                        <input type="text" formControlName="street">
                        <!--display error message if street is not valid -->
                        <small [hidden]="myForm.controls.addresses.controls[i].constrols.street.valid">
                            Street is required
                        </small>
                    </div>
                    <!--postcode -->
                    <div>
                        <label>postcode</label>
                        <input type="text" formControlName="postcode">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>